.root{
    -fx-font-family: "Source Code Pro ExtraLight";
}

.button{
    -fx-background-color: #f1f1f1;
    -fx-text-fill: #000000;
    -fx-border-radius: 10px;
}
.button:hover{
    -fx-text-fill: #000000;
    -fx-background-color: rgba(53, 53, 211, 0.5);
}

.label{
    -fx-font-family: "Source Code Pro ExtraLight";
}

.defaultBackground{
    -fx-opacity: 0.15;
    -fx-min-height: 1050;
    -fx-min-width: 1680;
}

.userContainer{
    -fx-padding: 5 10 0 0;
}

.userLabel{
    -fx-padding: 1.5 0 0 0;
}

#logo{
    -fx-font-size: 50px;
    -fx-text-fill: #3535D3;
}

#startMenuButtons{
    -fx-padding: 15 0 0 0;
}

#userNameTextField {
    /*-fx-background-color: #a9a9a9, white, white;*/
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 0 0 0 0;
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #000000;
    /* -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 0); */
    -fx-text-box-border: #3535D3 ;
    -fx-border-color: #3535D3;
    -fx-border-width: 0 0 0.5 0;
}

#usernameHint{
    -fx-font-size: 8pt;
    -fx-padding: 10 0 0 0;
}

#buttonContainer{
    -fx-padding: 20;
}

#startButton{
    -fx-border-color: #3535D3;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-background-radius: 10px;
}


/*---INGAME STYLE---INGAME STYLE---INGAME STYLE---INGAME STYLE---INGAME STYLE---INGAME STYLE---INGAME STYLE---*/

.label{
    -fx-background-color: #f0f0f0;
    -fx-font-size: 18px;
}

.button{
    -fx-font-size: 18px;
}

#logo{
    -fx-background-color: none;
}


